<!doctype html>
<html>
    <script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>
  <body>
    <h1>Works!</h1>
    <input id="alertText" type="text" placeholder="alert text"/>
    <button id="btn">Alert me</button>
    <button id="changeView">Change view</button>
    <button id="persistToFile">Persist to file</button>
    <button id="getFromFile">Get from file</button>
    <img id="test"></img>
  </body>
  <script>
    // this will happen implicitly later
    window.onRuntimeLoad = function() {
      _runtime.loadJs("bundle.js")
    }
  </script>
</html>
